@model projet_ASP.Models.Voiture
@{
    ViewBag.Title = "Contact";
}



@Html.Partial("_CarCard")


<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>





@*
    <address>
        model: @Model.model
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
    <p>Use this area to provide additional information.</p>*@

