@model IEnumerable<projet_ASP.Models.ApplicationUser>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "ListesNoire";
}

<div class="row gutters-sm">
    <div class="col-sm-12 mb-3">
        <div class="card1" style="overflow:auto;">
            <div class="card-body" style="min-height:100px;">
                <div>

                    @foreach (var item in Model)//every appUser has one proprietaire profile that s way i called the first one
                    {

                        byte[] byteData = item.imageBytes;

                        //Convert byte arry to base64string
                        string imreBase64Data = Convert.ToBase64String(byteData);
                        string imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data); //https://www.c-sharpcorner.com/article/mvc-display-image-from-byte-array/
                        ViewData["ProfileImg"] = string.Format("data:image/png;base64,{0}", imreBase64Data);




                        if (item.profileType == "Locataire")
                        {
                            @Html.Partial("_ClientCard", item);
                        }
                        else
                        {
                            @Html.Partial("_OwnerCard", item);
                        }
                    }

                </div>
            </div>
        </div>
    </div>
    @*<div class="col-sm-6 mb-3">
            <div class="card h-100">
                <div class="card-body">

                </div>
            </div>
        </div>*@
</div>