@model IEnumerable<projet_ASP.Models.Proprietaire>
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Propietaires";
}
@using (Html.BeginForm("SearchProp", "Administrateur", FormMethod.Post, new { name = "filter-form",@style= "justify-content:center;", @class ="", @id = "filterFormId" }))
{

    <div class="form-outline d-flex my-3" style= "justify-content:center;" >
        <input id="search-input" type="search" placeholder="Search here" name="key" id="form1 key" style="width:500px;" class="form-control" />
        @* <label class="form-label" for="form1">Search</label>*@

        <button type="submit" id="SearchBtn" class="btn btn-primary ml-1 SearchBtn" style="outline:none;">
            <i class="fas fa-search"></i>
        </button>
    </div>

}
<div class="row gutters-sm">
    <div class="col-sm-12 mb-3">
        <div class="card1" style="overflow:auto;">
            <div class="card-body" style="min-height:100px;">
                <div>
                    @foreach (var item in Model)//every appUser has one proprietaire profile that s way i called the first one
                    {
                        byte[] byteData = item.ApplicationUser.imageBytes;

                        //Convert byte arry to base64string
                        string imreBase64Data = Convert.ToBase64String(byteData);
                        string imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data); //https://www.c-sharpcorner.com/article/mvc-display-image-from-byte-array/
                        ViewData["ProfileImg"] = string.Format("data:image/png;base64,{0}", imreBase64Data);





                        @Html.Partial("_OwnerCard", item);
                    }

                </div>
            </div>
        </div>
    </div>
    @*<div class="col-sm-6 mb-3">
            <div class="card h-100">
                <div class="card-body">

                </div>
            </div>
        </div>*@
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>

            function Add_To_Favorites(id) {
            var formData = new FormData();

            console.log(id)
            formData.append("id", id);

            $.ajax({
                type: "POST",
                url: '../Administrateur/Propietaires',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    if (response == 'Deja favoris') {
                        alert("deja ajouté ou favoris");
                    }
                },
                //error: function(error) {
                //    alert("error");
                //}
         @*   }).done(function () {
                alert('success');
            }.fail(function (xhr, status, errorThrown) {
                alert('fail');
            };*@
            });
        }



</script>







