@using Microsoft.AspNet.Identity
@using projet_ASP.Models;

<div class="wrapper" id="idwrapper">
    @{
        string id = User.Identity.GetUserId();
        ApplicationDbContext db = new ApplicationDbContext();
        var prop = db.Proprietaires.Where(item => item.ApplicationUserID == id).FirstOrDefault();
        <img src="@(string.Format("data:image/png;base64,{0}", Convert.ToBase64String(prop.ApplicationUser.imageBytes)))" id="profileImg" class="profileImg rounded-circle" width="40" height="40" />
    }
<div class="box-container bg-light d-none" id="box">
    @if (User.IsInRole("Locataire"))
    {
        <p class="text-center"><a class="btn" href="../Locataire">Profile</a></p>
    }
    @if (User.IsInRole("Proprietaire"))
    {
        <p class="text-center"><a class="btn" href="../Proprietaire">Profile</a></p>
    }
    <div class="breake-line"></div>
    <p class="text-center"><a class="btn" href="../Manage">Paramétre compte</a></p>
    <div class="breake-line"></div>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()
        <p class="text-center"> <a href="javascript:document.getElementById('logoutForm').submit()" class="btn">Se déconnecter</a> </p>
    }
</div>
</div>

<style>
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 150px;
    }

    .profileImg {
        border-color: black;
        cursor: pointer;
        margin-bottom: 5px;
        align-self: center;
    }

    .box-container .btn {
        padding: 0;
        margin: 0;
    }

    .box-container {
        width: 150px;
        height: 100px;
        background: linear-gradient(#f8f8f8, #fff);
        box-shadow: 0 1px 4px 1px rgba(0,0,0,0.14);
        border-radius: 15px;
    }

    .breake-line {
        width: 100%;
        height: 1px;
        background-color: lightgray;
    }
    a:visited{
       color: black; 
    }
    .btn{
        color : black;
    }
</style>


<script>

    $("#profileImg").click(function (e) {
        $("#box").toggleClass("d-none");
    });

</script>
