@using Microsoft.AspNet.Identity
@using projet_ASP.Models;


<div class="wrapper" id="idwrapper">
    @{
        string id = User.Identity.GetUserId();
        ApplicationDbContext db = new ApplicationDbContext();
        var prop = db.Users.Where(item => item.Id == id).FirstOrDefault();
        <img src="@(string.Format("data:image/png;base64,{0}", Convert.ToBase64String(prop.imageBytes)))" id="profileImg" class="profileImg rounded-circle" width="35" height="35" />
    }
<div class="box-container bg-light d-none" id="box">
    @if (User.IsInRole("Locataire"))
    {
        <p class="text-left pl-2 pt-2"><i class="fas fa-user  " style="width:19px;"></i><a class="butn" href="../Locataire">Profile</a></p>
    }
    @if (User.IsInRole("Proprietaire"))
    {
        <p class="text-left pl-2 pt-2  "><i class="fas fa-user  "  style="width:19px;"></i><a class="butn " href="../Proprietaire">Profile</a></p>
    }
    <div class="breake-line"></div>
    <p class="text-left pl-2 pt-2 "><i class="fas fa-user-cog  " style="width: 15px;"></i> <a class="butn " href="../Manage">Paramètres</a></p>
    <div class="breake-line"></div>
    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()
<p class="text-left pl-2 pt-2 "><i class="fas fa-sign-out-alt " style="width: 15px;"></i>  <a href="javascript:document.getElementById('logoutForm').submit()" class="butn lien">Se déconnecter</a> </p>
    }
</div>
</div>

<style>
    .wrapper {
        display: flex;
        flex-direction: column;
        width: 150px;
    }

    .profileImg {
        border-color: black;
        cursor: pointer;
        margin-bottom: 5px;
        align-self: center;
    }

    .box-container .butn {
        padding: 0;
        margin: 0;
        text-decoration:none;
    }

    .box-container {
        width: 150px;
        height: 100px;
        background: linear-gradient(#f8f8f8, #fff);
        box-shadow: 0 1px 4px 1px rgba(0,0,0,0.14);
        border-radius: 5px;
    }

    .breake-line {
        width: 100%;
        height: 1px;
        background-color: lightgray;
    }
    .lien:visited {
        color: black;
    }
    .butn {
        color: black;
    }
</style>


<script>

    $("#profileImg").click(function (e) {
        $("#box").toggleClass("d-none");
    });

</script>
