@model projet_ASP.Models.Voiture
@using Microsoft.AspNet.Identity;


<div id="voitures_page ">

    @if (User.IsInRole("Proprietaire"))
    {
    }
    @foreach (var item in User.Identity.GetUserId())
    {
        byte[] byteData = item.image;

        //Convert byte arry to base64string
        string imreBase64Data = Convert.ToBase64String(byteData);
        string imgDataURL = string.Format("data:image/png;base64,{0}", imreBase64Data); //https://www.c-sharpcorner.com/article/mvc-display-image-from-byte-array/
                                                                                        //Passing image data in viewbag to view
        ViewBag.img = imgDataURL;

        byte[] byteData2 = item.proprietaire.ApplicationUser.imageBytes;

        //Convert byte arry to base64string
        string imreBase64Data2 = Convert.ToBase64String(byteData2);
        string imgDataURL2 = string.Format("data:image/png;base64,{0}", imreBase64Data2);
        ViewData["ProfileImg"] = string.Format("data:image/png;base64,{0}", imreBase64Data2);

        @Html.Partial("_CarCard", item);

    }
</div>